.usersContainer {
    margin: 0 auto;
    width: 100%;
    min-height: 90vh;
    background: snow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.usersInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usersTitle {
    color: #616161;
}

.usersLink {
    font-size: 15px;
    height: 20px;
    width: 70px;
    background: #008f81;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    display: block;
    color: snow;
}

.usersLink:hover {
    background: #ff3d00;
}

.serverErr {
    color: red;
    font-style: italic;
    font-size: 25px;
    margin-top: 10px;
}

