.page404Container {
    margin: 0 auto;
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.page404Error {
    width: 436px;
    color: #008f81;
    font-family: "Arial - Bold MT", serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 30px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.page404Logo {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: start;

}

.page404LogoNumber {
    width: 120px;
    height: 288px;
    color: #008f81;
    font-family: "Arial - Bold MT", serif;
    font-size: 400px;
    font-weight: 400;
    margin-top: -80px;
    margin-right: 20px;
    margin-left: 20px;

}


.rightNumber {
    margin-left: -120px;
}


