.modalContainer {
    width: 100%;
    margin-top: -100%;
    min-height: 100vh;
    position: absolute;
    background: #282c34;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modalOpen {
    animation-name: popup;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

@keyframes popup {
    50% {
        margin-top: -50%;
    }
    100% {
        margin-top: 0;
    }
}

.closeBtn {
    margin-top: 2%;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    background: #008f81;
    color: snow;
    align-self: flex-end;
    margin-right: 4%;
    font-size: 18px;
}

.closeBtn:hover {
    background: #ff3d00;
}

.successAdd {
    font-size: 40px;
    text-align: center;
    color: snow;
    margin-bottom: 20px;
}

.addedPostArticle {
    font-size: 20px;
    text-align: center;
    color: #c3bebe;
}

.addedPostInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addedPostInfoItem {
    font-size: 18px;
    text-align: center;
    color: #c3bebe;
}